services:
  x-common: &common
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - cv-data:/work
      - ./portfolio:/app
      - ./blog:/blog

  rendercv:
    <<: *common
    entrypoint: ["rendercv"]

  build:
    <<: *common
    command: /bin/bash -c "npm i && npm run build"

  app:
    <<: *common
    command: /bin/bash -c "npm i && npm run dev"
    ports:
      - "4321:4321"
    environment:
      - HOST=0.0.0.0
      - PORT=4321

volumes:
  cv-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PWD}
