---
const { dateString } = Astro.props;

const date = new Date(dateString);
---
<p class="text-gray-400 text-center">
    <span class="text-4xl text-white">
        {date.getDate().toString().padStart(2, "0")}
    </span>
    <br />
    <span class="text-2xl uppercase">{date.toLocaleString("en-US", { month: "short" })}</span>
</p>