@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-dark-bg: #0f1114;
  --color-dark-bg-alt: #0a1a0f;
  --color-dark-surface: #1a1d23;
  --color-dark-border: #2a2e38;
  --color-dark-accent: #3a404d;
}
